@{
    Layout = "";
}

<div class="media">
	<span class="pull-left">
		<img class="media-object img-responsive" src="@Url.Content("~/Plugins/CAF.WebSite.AliPayment/Content/logo.jpg")" alt="PayPal" />
	</span>
	<div class="media-body">
		@T("Plugins.Payments.AliPayment.Fields.RedirectionTip")
	</div>
</div>
