@{
    Layout = "";

}
 

<a  title="新浪微博账号登录"  class="way_weibo" id="way_weibo" href="@Url.RouteUrl("CAF.WebSite.XLAuth", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"], action = "Login" })">
</a><span></span>

 