<div class="wrapper">
    <p class="other-links">
        <a target="_blank" href="http://about.yaozh.com/about.html">关于我们</a><span class="line">|</span>                <a target="_blank" href="http://about.yaozh.com/contact.html">联系我们</a><span class="line">|</span>                <a target="_blank" href="http://about.yaozh.com/Qualification.html">企业资质</a><span class="line">|</span>                <a target="_blank" href="http://about.yaozh.com/join.html">诚聘英才</a><span class="line">|</span>                <a target="_blank" href="http://about.yaozh.com/link.html">友情链接</a><span class="line">|</span>                <a target="_blank" href="http://help.yaozh.com/">帮助中心</a><span class="line">|</span>                <a target="_blank" href="http://bbs.yaozh.com/forum-123-1.html">媒体报道</a><span class="line">|</span>                <a target="_blank" href="http://bbs.yaozh.com">药智论坛</a>
    </p>
    <p>互联网增值电信业务许可证编号：渝B2-20120028&nbsp;|&nbsp;渝ICP备10200070号&nbsp;&nbsp;互联网药品信息服务资格证：(渝)-经营性-2011-0001&nbsp;渝公网备：50010801500236</p>
    <p class="copy">
        <span>康洲大数据 </span>
        <span class="show-span">Copyright © 2009-2016 药智网</span>
        <span>YAOZH.COM All Rights Reserved. 法律顾问：重庆德普律师事务所 彭林 主任律师</span>
    </p>
    <p>客户服务热线：400-678-0778 E-mail：service@yaozh.com 商务合作QQ：845146016</p>
    <p class="mt5" style=""></p>
    <div class="wechat">
        <p class="b">微信二维码</p>
        <p><img src="//www.yaozh.com/public/images/yaozh.gif" alt=""></p>
        <p class="cl-gray">微信号：药智网</p>
    </div>
</div>
