<div class="side-bar">
    <div class="side-bar-wrapper">
        <!--
        <a target="_blank" href="javascript:;" class="item share">
          <i class="fa"></i>
          <script type="text/javascript" charset="utf-8" src="//static.bshare.cn/b/buttonLite.js#style=-1"></script>
        </a>
        -->
        <a target="_blank" href="javascript:;" class="item kf-toggle">
            <span class="name">在线客服</span>
            <i class="fa">%</i>
        </a>
        <a target="_blank" href="//www.yaozh.com/index/index/fk" class="item fk">
            <span class="name">反馈</span>
            <i class="fa">D</i>
        </a>
        <a target="_blank" href="//weibo.com/yaozh008?sudaref=www.yaozh.com" class="item weibo">
            <span class="name">官方微博</span>
            <i class="fa"></i>
        </a>
        <a target="_blank" href="//mp.weixin.qq.com/s?__biz=MzAxODA5MTU3NQ==&mid=203896545&idx=7&sn=9241981401196ce48b35f9b37eeee09b#rd" class="item weixin">
            <span class="name">官方微信</span>
            <i class="fa"></i>
        </a>
        <a target="_blank" href="javascript:;" class="item go-top hide">
            <span class="name">顶部</span>
            <i class="fa">w</i>
        </a>
    </div>

</div>

<div class="zxkf hide" style="display: block;">
    <div class="zxkf_head">
        <b>在线客服</b>
        <span class="kf-toggle" title="关闭"></span>
    </div>
    <div class="zxkf_con">
        <div class="zxkf_con1">
            <a target="_blank" href="//wpa.qq.com/msgrd?v=3&amp;uin=2069479092&amp;site=qq&amp;menu=yes" title="药智客服-小智为您服务！"><span></span></a>
            <a target="_blank" href="//wpa.qq.com/msgrd?v=3&amp;uin=2069479092&amp;site=qq&amp;menu=yes" title="药智客服-小智为您服务！"> <p>药智客服</p></a>
        </div>
        <div class="zxkf_con1">
            <a target="_blank" href="//wpa.qq.com/msgrd?v=3&amp;uin=2069479092&amp;site=qq&amp;menu=yes" title="药智客服-小智为您服务！"><span></span></a>
            <a target="_blank" href="//wpa.qq.com/msgrd?v=3&amp;uin=2069479092&amp;site=qq&amp;menu=yes" title="药智客服-小智为您服务！"><p>药智汇客服</p></a>
        </div>
        <div class="zxkf_con1">
            <a target="_blank" href="http://s.yaozh.com/Other/service" title="药智客服-小智为您服务！"><span></span></a>
            <a target="_blank" href="http://s.yaozh.com/Other/service" title="药智客服-小智为您服务！"><p>商城客服</p></a>
        </div>
    </div>
</div>

<div class="m-menu-layer m-page">
    <div class="top">
        <a href="http://www.yaozh.com/login/">登录</a>
        <a href="http://www.yaozh.com/register/">注册</a>
        <a href="javascript:;" class="close"><i class="fa"></i></a>
    </div>
    <div class="middle">
        <div class="list">
            <div class="item">
                <div class="head">
                    <i class="imims imim_0_400"></i>
                    <span>药智数据</span>
                </div>
                <div class="links">
                    <a href="//db.yaozh.com/vip">VIP</a>
                    <a href="//db.yaozh.com/zhuce">药品注册</a>
                    <a href="//db.yaozh.com/yaopinzhongbiao">药品中标</a>
                    <a href="//db.yaozh.com/screening">药品筛选</a>
                    <a href="//db.yaozh.com/biaozhun">药品标准</a>
                    <a href="//db.yaozh.com/zhuangrang">药品转让</a>
                </div>
            </div>
            <div class="item">
                <div class="head">
                    <i class="imims imim_60_400"></i>
                    <span>药智汇</span>
                </div>
                <div class="links">
                    <a href="//www.yaozh.com/list">需求大厅</a>
                    <a href="//www.yaozh.com/list">最新悬赏</a>
                    <a href="//www.yaozh.com/list/?tuoguan=1">推荐悬赏</a>
                    <a href="//www.yaozh.com/list/?zhuangtai=6">成功案例</a>
                    <a href="//www.yaozh.com/howtou/">如何使用</a>
                    <a href="//bbs.yaozh.com/forum-8-1.html">威客讨论</a>
                </div>
            </div>
            <div class="item">
                <div class="head">
                    <i class="imims imim_120_400"></i>
                    <span>药智通</span>
                </div>
                <div class="links">
                    <a href="//db.yaozh.com/vip">技术转让</a>
                    <a href="//db.yaozh.com/zhuce">技术服务</a>
                    <a href="//db.yaozh.com/yaopinzhongbiao">特色化合物</a>
                    <a href="//db.yaozh.com/screening">其他供应</a>
                    <a href="//db.yaozh.com/biaozhun">推荐求购</a>
                    <a href="//db.yaozh.com/zhuangrang">申请入驻</a>
                </div>
            </div>
            <div class="item">
                <div class="head">
                    <i class="imims imim_180_400"></i>
                    <span>新闻资讯</span>
                </div>
                <div class="links">
                    <a href="//news.yaozh.com/article">看点</a>
                    <a href="//news.yaozh.com/view">观点</a>
                    <a href="//news.yaozh.com/conference">会议预告</a>
                    <a href="//news.yaozh.com/report">数据报告</a>
                    <a href="//news.yaozh.com/conference">会议快讯</a>
                    <a href="//news.yaozh.com/front_index/postArticle">我要投稿</a>
                </div>
            </div>
            <div class="item">
                <div class="head">
                    <i class="imims imim_240_400"></i>
                    <span>药智论坛</span>
                </div>
                <div class="links">
                    <a href="//bbs.yaozh.com/forum-168-1.html">大讲堂</a>
                    <a href="//bbs.yaozh.com/forum-39-1.html">药学动态</a>
                    <a href="//bbs.yaozh.com/forum-108-1.html">执业药师</a>
                    <a href="//bbs.yaozh.com/forum-70-1.html">药智茶座</a>
                    <a href="//bbs.yaozh.com/forum-4-1.html">生物制药</a>
                    <a href="//bbs.yaozh.com/forum-104-1.html">药品注册</a>
                </div>
            </div>
            <div class="item">
                <div class="head">
                    <i class="imims imim_300_400"></i>
                    <span>药智俱乐部</span>
                </div>
                <div class="links">
                    <a href="//club.yaozh.com/index/introduction.html#introduction">俱乐部简介</a>
                    <a href="//club.yaozh.com/index/member.html">会员权益</a>
                    <a href="//club.yaozh.com/index/news.html">新闻活动</a>
                    <a href="//club.yaozh.com/index/member.html">入会权益</a>
                    <a href="//club.yaozh.com/index/apply.html">入会流程</a>
                    <a href="//club.yaozh.com/index/apy.html">入会申请</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-search-layer m-page">
    <div class="top">
        <span>搜索</span>
        <a href="javascript:;" class="close"><i class="fa"></i></a>
    </div>
    <div class="middle">
        <form action="">
            <div class="tc"><a href="//www.yaozh.com" class="logo"></a></div>
            <div class="tab-nav">
                <a href="javascript:;" data-action="//db.yaozh.com/Search" data-key="content">数据库</a>
                <a href="javascript:;" data-action="//s.yaozh.com/Index/search" data-key="search">商城</a>
                <a href="javascript:;" data-action="//www.yaozh.com/list/" data-key="keytitle">药智汇</a>
                <a href="javascript:;" data-action="//bbs.yaozh.com/search.php?searchsubmit=yes" data-key="srchtxt">新闻</a>
            </div>
            <div class="input">
                <input class="search ignore-focus" placeholder="关键字..." name="content" type="text">
                <a target="_blank" href="javascript:;" class="search-btn"><i class="fa"></i></a>
            </div>
        </form>

    </div>
</div>