<div class="footer">
    <div class="promise">
        <div class="promise_item">
            <span title="药坊网医药网,医药招商,药品招商">
                <i class="pro01"></i>
            </span>
            <span title="药坊网医药网,医药招商,药品招商">
                <i class="pro02"></i>
            </span>
            <span title="药坊网医药网,医药招商,药品招商">
                <i class="pro03"></i>
            </span>
            <span title="药坊网医药网,医药招商,药品招商">
                <i class="pro04"></i>
            </span>
        </div>
    </div>


    <div class="w">
        <dl style="width: 190px;" class="fore0">
            <dt>关于我们</dt>
            <dd>
                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="公司简介" rel="nofollow">公司简介</a></div>
                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="资质证书" rel="nofollow">资质证书</a></div>
                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="公司股票" rel="nofollow">公司股票</a></div>
                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="平台优势" rel="nofollow">平台优势</a></div>
                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="联系方式" rel="nofollow">联系方式</a></div>
            </dd>
        </dl>
        <dl style="width: 190px;" class="fore1">
            <dt>帮助中心</dt>
            <dd>

                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="网站地图">网站地图</a></div>


                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="注册协议" rel="nofollow">注册协议</a></div>


                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="医药QQ群" rel="nofollow">医药QQ群</a></div>


                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="人才招聘" rel="nofollow">人才招聘</a></div>


            </dd>
        </dl>
        <dl style="width: 190px;" class="fore2">
            <dt>新手上路</dt>
            <dd>

                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="VIP服务" rel="nofollow">VIP服务</a></div>


                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="广告服务" rel="nofollow">广告服务</a></div>


                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="咨询服务" rel="nofollow">咨询服务</a></div>


            </dd>
        </dl>
        <dl style="width: 190px;" class="fore3">
            <dt>招商公告</dt>
            <dd>

                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="医药资讯">医药资讯</a></div>


                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="服务宗旨" rel="nofollow">服务宗旨</a></div>


                <div style="height:21px;overflow:hidden"><a target="_blank" href="#" title="隐私声明" rel="nofollow">隐私声明</a></div>


            </dd>
        </dl>

        <dl style="width: 320px;" class="fore5">
            <dt>客服QQ</dt>

            <dd>
                <div style="clear: both; float:left;">
                    <a style="clear: both; float: left;margin-right: 5px;">代理客服:</a>
                    <a href="tencent://message/?uin=3286619561&amp;Site=goodyao.com&amp;Menu=yes" target="_blank" title="代理客服" rel="nofollow"><img src="http://www.goodyao.com/application/views/images/qq_online.gif" alt="代理客服"></a>
                </div>

            </dd>


        </dl>
        <dl class="fore6">
            <dt>微信公众平台</dt>
            <dd>
                <div class="service_qrcode"><img src="~/Themes/AlphaDefault/Content/images/yaofang.png" alt="药坊网医药网,医药招商,药品招商"></div>
            </dd>
        </dl>
        <span class="clr"></span>
    </div>
</div>