<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode id="home" title="Home" controller="Home" action="Overview" area="Seller">
    <siteMapNode id="members" title="会员服务"  permissionNames="ManageArticles" iconClass="folder-open-o">
      <siteMapNode id="articles-agents" iconClass="th-large" title="会员咨询" resKey="Admin.ContentManagement.Agents" controller="Agent" action="Index" area="Seller" />
    </siteMapNode>
    <siteMapNode id="cms" title="交易管理"  permissionNames="ManageArticles" iconClass="folder-open-o">
      <siteMapNode id="articles-items" iconClass="th-large" title="Channel items" resKey="Admin.ContentManagement.Channels" controller="Article" action="List" area="Seller" />
    </siteMapNode>
    <siteMapNode id="shop" title="店铺管理"   permissionNames="ManageArticles" iconClass="folder-open-o">
      <siteMapNode id="articles-items" iconClass="th-large" title="Channel items" resKey="Admin.ContentManagement.Channels" controller="Article" action="List" area="Seller" />
    </siteMapNode>
  </siteMapNode>
</siteMap>

